body {
  background-color: antiquewhite;
}
.Header {
  /* text-align: center;
  display: block;
  padding: 15px;
  font-weight: bold; */
  text-align: center;
  /* display: flex; */
  margin: 0 auto;
  display: block;
  font-size: 50px;
  font-weight: 600;
  margin-top: 1.5rem;
  color: #8f3c09;
  box-shadow: 10px 10px 10px rgb(128 128 128 / 50%);
  width: 50%;
  padding: 10px;
}
.Description {
  text-align: center;
  padding: 1.5rem;
}
.team-title {
  text-align: center;
  font-size: 40px;
}

.Team-Border {
  padding: 20px;
}

.Team-Members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.Team-Members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 929px) {
  .Team-Members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .Team-Members {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.Photo-card {
  width: 80%;
  background-color: rgb(239, 233, 225);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 20px;
}

.Photo-card p {
  font-size: 20px;
}

.Photo-card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-about {
  text-align: center;
  padding: 10px 20px;
  font-size: small;
}

.github-logo {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 30px;
}

.github-logo img {
  width: 30px;
}
