:root {
  overflow-x: hidden;
}
.home {
  background: url(../../assets/wedding.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 94vh;
  opacity: 0.8;

} 

.btn-explore button{   
  position: relative;
   top: 290px;
   border-radius: 30px;
   width: 160px;
   height: 50px;
   background-color: rgb(224, 205, 182);
   border-width: 1px;
   display:block;
   margin-left: auto;
   margin-right:auto;
   font-family: 'Lora', serif;
   font-size: 20px;
   font-weight: bold;  
   border-color: rgb(140, 139, 138);
   color:#3c3937;
   box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.8);
  }
  
  .btn-explore button:hover {
    background-color: rgb(207, 184, 159);
    }
/* .short-description p{
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 400px;
  left: 240px;
  margin: 0 auto;
} */

 .border-title {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 200px;
  font-size: 40px;
  color: rgb(0, 0, 0, 5); 
  font-weight:bold;
  font-family: 'Lora', serif;
  background-color: rgba(250, 235, 215, 0.56);
  width: 27%;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  
}

@media (max-width: 800px) {
  .border-title {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 200px;
    font-size: 40px;
    color: rgb(0, 0, 0, 5); 
    font-weight:bold;
    font-family: 'Lora', serif;
    background-color: rgba(250, 235, 215, 0.56);
    width: 45%;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px; 
  }
}
@media (max-width: 520px) {
  .border-title {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 200px;
    font-size: 40px;
    color: rgb(0, 0, 0, 5); 
    font-weight:bold;
    font-family: 'Lora', serif;
    background-color: rgba(250, 235, 215, 0.56);
    width: 50%;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px; 
  }
}

.main {
  text-align: center;
}

.home-image {
  background-image: url("../../assets/wedding.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

body {
  background-color: rgb(244, 229, 209);
}