.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  margin: 3rem;
}
.card-ceremony {
  flex-direction: row;
  width: 25%;
  height: 70vh;
  border-radius: 20px;
  margin: 15px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 15px;
}

.card-img {
  width: 50%;
  height: 50%;
  margin: auto;
}
h1 {
  color: #c7906d;
  display: inline;
}
