
.card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 80vh;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  background-color: antiquewhite;
  font-family: 'Lora', serif;;
}

.btn-submit{
  font-family: 'Lora', serif;
}